.admin{
    display: flex;
    justify-content: space-between;
    
   
}



.admin2{
    display: flex;
    justify-content: space-between;
    width: 87px;
    gap: 10px;
    
}

.button{
    width: 409px;
    height: 34px;
    border-radius: 10px;
    align-items: center;
    
}